@import "reset.css";
@charset "utf-8";
.w100 {
    width: 100%;
    margin: 0 auto;
}
@mixin public($height) {
    width: 1200px;
    height: $height;
    margin: 0 auto;
}



//header
.headerWrap {
    @extend .w100;
    background: url(../images/headbg.jpg) repeat-x;
}
.header {
    @include public(33px);
    background: url(../images/headbg.jpg) repeat-x;
    line-height: 33px;
    .left {
        p {
            float: left;
        }
        a {
            float: left;
            &:hover {
                color: #f00;
            }
        }
    }
    ul{
        position: relative;
        li {
            position: relative;
            padding-right: 10px;
            float: left;
            margin-left: 10px;
        }
        .hide {
            position: absolute;
            top: 0;
            left: -96px;
            width: 60px;
            padding-right: 20px;
            z-index: 10;
            &:hover {
                background: #fff;
                border: 1px solid #ccc;
                border-top: none;
                ul {
                    display: block;
                }
            }
            i {
                position: absolute;
                right: -16px;
                top: -10px;
                font-size: 12px;
                color: #666;
            }
            a {
                position: relative;
                padding-left: 10px;
            }
            ul {
                width: 80px;
                height: 110px;
                display: none;
                li {
                   margin: 0;
                   height: 25px;
                   a:hover {
                       color: #f00;
                       text-decoration: underline;
                   }
                }
            }
            em {
                right: -24px;
            }
        }
        em {
            position: absolute;
            top: 0;
            right: -10px;
            color: #ddd;
        }
        .phone {
            color: #ff1a3a;
            font-size: 16px;
            padding-left: 20px;
            font-style: italic;
            font-weight: 700;
            font-family: "arial, helvetica, sans-serif";
            i {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 14px;
                color: #ccc;
            }
        }
    }
}

//logo
.top {
    @include public(90px);
    .logo {
        width: 320px;
        padding: 15px 0 0 35px;
    }
    .center {
        width: 650px;
        margin-top: 22px;
        position: relative;
        .search {
            width: 428px;
            height: 30px;
            border: 2px solid #02A3F0;
            position: relative;
            .searchMask {
                display: none;
                position: absolute; 
                left: 2px;
                top: -31px;
                background: #fff;
                z-index: 2;
                width: 360px;
                height: 28px;
                margin-top: 31px;
                margin-left: -2px;
                opacity: .2;
                background: #ccc;
                box-shadow: 3px 3px 10px #ccc;
            }
            .search-btn {
                position: absolute;
                right: 0;
                top: 0;
                background: #02A3F0;
                color: #fff;
                width: 67px;
                height: 30px;
                font-weight: 700;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                font-size: 15px;
            }
            input {
                width: 341px;
                height: 14px;
                padding: 8px 10px;
            }
            i {
               display: none;
               position: absolute;
               font-size: 14px;
               width: 10px;
               right: 70px;
               top: 6px;
               z-index: 3;
               cursor: pointer;
            }
        }
        .hotKey {
            width: 630px;
            a {
                font-size: 12px;
                height: 22px;
                line-height: 22px;
                padding: 4px 3px;
                &.active {
                    color: #df5000;
                    text-decoration: underline;
                }
                &.special {
                    color: #ff1a3a;
                }
            }
        }
        .code {
            position: absolute;
            right: 66px;
            top: -16px;
            width: 80px;
            height: 80px;
            background: url(../images/qrcode-app.png) no-repeat center;     
            &:hover {
                .mobile-menu {
                    display: block;
                }
            }
            .mobile-menu {
                position: absolute;
                border: 1px solid #999;
                margin-left: -50px;
                width: 180px;
                padding: 5px;      
                background-color: #fff;          
                box-shadow: 3px 3px 5px #b8b8b8;
                z-index: 10;
                display: none;
                .app,.gzh {
                    background: url(../images/qrcode-app.png) no-repeat left center;
                    height: 90px;
                    border-bottom: 1px solid #ccc;
                    padding-left: 85px;
                    padding-top: 2px;
                    strong{
                        font-weight: 700;
                    }
                    a {
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        background: url(../images/mobile-system.png) no-repeat;
                        margin-right: 5px;
                        margin-top: 5px;
                    }
                    .ios {
                        background-position: 0 -25px;
                    }
                }
                .gzh {
                    background: url(../images/qrcode-app.png) no-repeat left center;
                    padding-top: 13px;
                    height: 80px;
                    border: none;
                }
            }
        }
    }
    .shopcar {
        width: 195px;
        height: 44px;
        line-height: 44px;
        margin-top: 20px;
        position: relative;
        .trigger {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 125px;
            height: 44px;
            line-height: 44px;
            background: url(../images/detail.gif) no-repeat 0px -30px;
            padding-left: 70px;
            span {
                color: #f00;
                font-weight: 700;
                font-family: "microsoft yahei";
            }
        }
        .shoplist {
            position: absolute;
            right: 0px;
            top: 41px;
            z-index: 1;
            height: 42px;
            width: 262px;
            border: 1px solid #dbdbda;
            background: #fff;
            line-height: 42px;
            padding-left: 20px;
            display: none;
        }
        &:hover {
            .trigger {
                background: url(../images/detail.gif) no-repeat 0px -74px;
                padding-top: 0px;
            }
            .shoplist {
                display: block;
            }
        }
    }
}

//nav
.navWrap {
    @extend .w100; 
    background: #000;
}
.navTotal {
    @include public(40px);
    background: #000;
    position: relative;
    .nav {
        position: absolute;
        top: 0;
        left: 230px;
        width: 960px;
        height: 40px;
        padding-left: 10px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        li {
            float: left;
            padding: 0 30px;
            background: url(../images/navlibg.jpg) no-repeat left center;
            &.bgn {
                background: none;
            }
            a {
                display: block;
                color: #fff;
                &:hover {
                    color: #03afec;
                }
                &.red {
                    color: #f00;
                }
            }
        }
    }
    .goodList {
        height: auto;
        span {
            width: 230px;
            height: 40px;
            line-height: 40px;
            background: #03afec;
            color: #fff;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
        }
        .navSub {
            width: 230px;
            position: relative;
            li {
                position: relative;
            }
            .navSubList.activeNav {
                background: #fff;
                width: 210px;
                border: 1px solid #bdbdbd;
                border-right: none;
                border-left: 2px solid #00adff;
                padding-left: 18px;
                padding-top: 12px;
                z-index: 10;
            }
           .navSubList {
                position: relative;
                width: 208px;
                line-height: 22px;
                text-align: left;
                background: #f8f8f8;
                border: 1px solid #e7e7e7;
                border-top: none;
                padding: 11px 0px 6px 20px;
                z-index: 10;
                strong {
                    display: block;
                    font-size: 16px;
                    padding-top: 5px;
                    width: 210px;
                    height: 18px;
                    margin: 0 0 4px;
                    font-weight: 700;
                    i {
                       float: right;
                       margin-right: 12px;
                       margin-top: 0px; 
                       color: #03afec;
                    }
                }
                p {
                   height: 44px;
                   line-height: 22px;
                }
                a {
                    margin-right: 13px;
                    float: left;
                    &:hover {
                       color: #03afec;
                    }
                }
               
            }
            .details {
                position: absolute;
                top: 0px;
                left: 228px;
                width: 650px;
                background: #fff;
                border: 1px solid #bdbdbd;
                display: none;
                z-index: 5;
                ul {
                    width: 380px;
                    padding: 0 20px;
                    li {
                        width: 380px;
                        padding: 10px 0;
                        border-bottom: 1px dotted #ccc;
                        line-height: 22px;
                        overflow: hidden;
                        &.spe {
                           border: none;
                        }
                        strong {
                           width: 70px;
                           a {
                               font-size: 12px;
                           }
                        }
                        p {
                           width: 310px;
                        }
                   }
                }
                .recommend {
                   width: 200px;
                   background: #f8f8f8;
                   padding: 15px;
                   dl {
                        width: 200px;
                        margin-bottom: 10px;
                        dt{
                            width: 200px;
                            h4 {
                                border-bottom: 1px solid #000;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 22px;
                                margin-bottom: 10px;
                            }
                        }
                        dd {
                            width: 100px;
                            float: left;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}


.footer {
        @extend .w100;
        background: url(../images/footbd.jpg) repeat-x;
        border-top: 1px solid #e1e1e1;
        margin-top: 30px;
        .ft {
            @include public(174px);
            margin-top: 25px;
            border-bottom: 1px solid #e1e1e1;
            
            .info {
                width: 240px;
                padding-left: 44px;
                .tel {
                    width: 197px;
                    height: 49px;
                    background: url(../images/detail.gif) no-repeat 0 -157px;
                    .num {
                        padding-left: 72px;
                        font-style: italic;
                        font-weight: 700;
                        padding-top: 8px;
                        color: #ff0;
                    }
                    .time {
                        width: 148px;
                        color: #444;
                        text-align: right;
                    }
                }
                .weibo {
                    position: relative;
                    width: 197px;
                    height: 22px;
                    line-height: 22px;
                    background: url(../images/w.jpg) no-repeat;
                    margin-top: 10px;
                    padding-left: 30px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    a {
                        position: absolute;
                        top: 0;
                        left: 114px;
                    }
                }
                .email {
                    position: relative;
                    input {
                        border: 1px solid #ccc;
                        font-size: 12px;
                        color: #ccc;
                        height: 22px;
                    }
                    a {
                        position: absolute;
                        left: 132px;
                        top: 0;
                    }
                }
                .ps {
                    margin-top: 10px;
                }
            }
            dl {
                float: left;
                width: 100px;
                height: 150px;
                padding-left: 25px;
                border-left: 1px solid #e1e1e1;
                dt {
                    margin-bottom: 14px;
                    a {
                        font-size: 13px;
                        color: #444;
                        font-weight: 700;
                    }
                }
                dd {
                    a {
                        height: 22px;
                        line-height: 22px;
                        color: #999;
                    }
                }
            }
            .code {
                width: 125px;
                height: 150px;
                padding-top: 11px;
                padding-left: 33px;
                background: url(../images/ss.jpg) no-repeat 30px 104px;
                img {
                    border: 1px solid #eee;
                }
            }
        }
        .footerBottom {
            width: 880px;
            height: 130px;
            margin: 0 auto;
            padding: 0 160px 0 160px;
            border-bottom: 1px solid #ccc;
            dl {
                width: 140px;
                height: 110px;
                margin: 15px 40px;
                float: left;
                dt {
                    width: 108px;
                    height: 50px;
                    margin-bottom: 10px;
                    margin-left: 16px;
                }
                dd {
                    height: 20px;
                    line-height: 20px;
                    font-size: 13px;
                    text-align: center;
                    color: #444;
                }
            }
        }
    }
    .about {
        @include public(44px);
        text-align: center;
        line-height: 44px;
        color:#444;
        font-size: 14px;
        font-family: "microsoft yahei";
    }


