@charset "utf-8";
@import "common.scss";
#subnav {
    position: relative;
    z-index: 1000;
}
.navSub {
    display: none;
}
.w980 {
    width: 980px;
}
.mainWrap {
    @extend .w100;
    .main {
        @extend .w980;
        margin: 10px auto;
        margin-top: 0;
        .current {
            height: 34px;
            margin-top: 15px;
            line-height: 34px;
            color: #999;
            border-bottom: 2px solid #78b5f4;
            i {
                display: inline-block;
                margin: 0 3px;
                font-size: 12px;
            }
            a:hover {
                color: #f00;
            }
            .gdname {
                color: #4e7fc2;
            }
        }
        .part1 {
            position: relative;
            margin-top: 15px;
            .part1_l {
                position: relative;
                z-index: 10;
                width: 457px;
                .picsmall {
                    width: 72px;
                    height: 380px;
                    li {
                        width: 72px;
                        height: 72px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        img {
                            width: 70px;
                            height: 70px;
                            border: 1px solid #e4e4e4;
                            &.bdblue {
                                border: 1px solid #78b5f4;
                            }
                        }
                    }
                }
                .picmiddle {
                    position: relative;
                    z-index: 10;
                    width: 350px;
                    height: 350px;
                    margin: 0 15px 0 85px;
                    cursor: move;
                    img {
                        width: 350px;
                        height: 350px;
                        display: none;
                        &.piccurrent {
                            display: block;
                        }
                    }
                    .maskbg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 350px;
                        height: 350px;
                        background: #eaffff;
                        opacity: .3;
                        display: none;
                    }
                    .mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 170px;
                        height: 170px;
                        border: 1px solid #0069ce;
                        background: url(../images/goodimages/middle0.jpg) no-repeat 0 0;
                        display: none;
                    }
                }
                .picbig {
                    position: absolute;
                    left: 436px;
                    top: 0;
                    width: 391px;
                    height: 389px;
                    border: 1px solid #c5c5c5;
                    background: url(../images/goodimages/big0.jpg) no-repeat;
                    display: none;
                    z-index: 10;
                }
                .big {
                    position: relative;
                    text-align: right;
                    margin-top: 8px;
                    i {
                        right: 67px;
                        top: -1px;
                        position: absolute;
                        color: #0069CE;
                    }
                    a {
                        color: #4063a7;
                    }
                }
                .spell {
                    width: 200px;
                    height: 19px;
                    margin: 0 auto 15px;
                    .shareText {
                        float: left;
                        line-height: 23px;
                    }
                    a {
                        display: block;
                        float: left;
                        width: 22px;
                        height: 23px;
                        overflow: hidden;
                        background: url(../images/goodimages/icon_site.gif) no-repeat;
                        background-position: -93px -24px;
                        &.a1 {
                            background-position: 0px -24px;
                        }
                        &.a2 {
                            background-position: -47px -24px;
                        }
                        &.a3 {
                            background-position: -70px -24px;
                        }
                        &.a4 {
                            background-position: -24px -24px;
                        }
                        &.a5 {
                            background-position: -139px -24px;
                        }
                    }
                    
                }
            }
            .part1_r {
                width: 503px;
                font-family: "microsoft yahei";
                h2:  {
                    padding: 10px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #666;
                }
                .pro {
                    width: 483px;
                    padding: 12px 10px 2px 10px;
                    border-top: 1px dotted #e4e4e4;
                    .pname {
                        float: left;
                        width: 66px;
                        height: 28px;
                        padding-top: 1px;
                    }
                    .pneir {
                        float: left;
                        width: 417px;
                        height: 29px;
                        a {
                            color: #4063a7;
                            &:hover {
                                color: #f00;
                            }
                        }
                        .textRed {
                            color: #f00;
                        }
                    }
                    .ml30 {
                        margin-left: 30px;
                    }
                    #sprice {
                        color: #f00;
                        margin-left: -66px;
                        margin-top: 10px;
                    }
                    #spricer {
                        color: #f00;
                        font-size: 16px;
                        font-weight: 700;
                        width: 200px;
                        margin-top: 10px;
                    }
                    .xinbox {
                        position: relative;
                        width: 70px;
                        height: 13px;
                        float: left;
                        .rank {
                            position: absolute;
                            top: -15px;
                            left: 0;
                            width: 70px;
                            height: 13px;
                            margin-top: 14px;
                            background: url(../images/goodimages/small.png) no-repeat;
                        }
                        .line {
                            height: 13px;
                            background: url(../images/goodimages/smallmid.jpg) repeat-x;
                        }
                        .count {
                            position: absolute;
                            top: 0;
                            left: 46px;
                            width: 120px;
                            height: 29px;
                            color: #333;
                            text-align: right;
                            a {
                                span {
                                    color: #fc7f0f;
                                }
                            }
                        }
                        .nneir {
                            float: left;
                            width: 417px;
                            height: 29px;
                        }
                       
                    }

                }
            }
            
        }
        .conLine {
            @extend .w100;
            border: 1px solid #e4e4e4;
        }
        .part2 {
            @extend .w980;
            margin-top: 15px;
            position: relative;
            font-family: "microsoft yahei";
            .titbg {
                width: 196px;
                height: 33px;
                line-height: 33px;
                margin: 1px;
                color:#333;
                text-align: center;
                font-weight: 700;
                font-size: 15px;
                border-bottom: 1px solid #e4e4e4;
                background: url(../images/goodimages/part2lbg.jpg) repeat-x;
            }
            .part2L {
                width: 200px;
                dl {
                    width: 198px;
                    border: 1px solid #e4e4e4;
                    margin-bottom: 10px;
                   
                    dd {
                        padding-bottom: 10px;
                        text-align: center;
                        border-bottom: 1px dashed #e4e4e4;
                        &.bb0 {
                            border-bottom: none;
                        }
                        .imgbox {
                            display: block;
                            width: 100px;
                            height: 100px;
                            margin: 10px auto;
                            img {
                                margin-left: -14px;
                            }
                        }
                        .txt {
                            width: 176px;
                            line-height: 16px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin: 0 auto;
                            .goodname {
                                text-align: center;
                            }
                            .goodprice {
                                display: block;
                                color: #f00;
                                text-align: center;
                            }
                        }
                    }
                    &.newslist {
                        dd {
                            text-align: left;
                            overflow: hidden;
                            white-space: noWrap;
                            text-overflow: ellipsis;
                            padding-bottom: 0;
                            line-height: 30px;
                        }
                    }
                    
                }
            }
            .part2R {
                width: 765px;
                .groupBox {
                    width: 763px;
                    margin-bottom: 15px;
                    padding-bottom: 13px;
                    border: 1px solid #e4e4e4;
                    .tit {
                        width: 740px;
                        padding-left: 21px;
                        .more {
                            float: right;
                            margin-right: 20px;
                            label {
                                display: inline-block;
                                margin-left: 10px;
                                color: #f00;
                                text-decoration: underline;
                                cursor: pointer;
                                font-size: 13px;
                                font-weight: 100;
                                &.btnDis {
                                    color: #000;
                                    font-weight: 700;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .goodBox {
                        float: left;
                        width: 120px;
                        height: 175px;
                        margin: 8px 7px 8px 5px;
                        &.firstbox {
                            text-align: center;
                            margin: 27px 3px 5px 15px;
                        }
                        dd {
                            line-height: 18px;
                            &.goodimg {
                                margin-bottom: 10px;
                            }
                            &.goodname {
                                width: 120px;
                                height: 36px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            &.goodprice {
                                top: 2px;
                                color: #f00;
                            }
                        }
                    }
                    .goodAdd {
                        width: 24px;
                        height: 24px;
                        margin: 89px 15px 0 0;
                        background: url(../images/goodimages/btnGroup.gif) no-repeat 0px -330px;
                        
                    }
                    .goodImg {
                        position: relative;
                        width: 446px;
                        height: 185px;
                        margin-top: 16px;
                        border: 1px solid #f5debc;
                        span {
                            position: absolute;
                            width: 13px;
                            height: 20px;
                            top: 73px;
                            left: 9px;
                            background: url(../images/goodimages/btnGroup.gif) no-repeat -50px -330px;
                            &.btnR {
                                left: 426px;
                                background-position: -70px -330px;
                            }    
                        }
                        #groupImg {
                            height: 150px;
                            position: absolute;
                            width: 132px;
                            left: 8px;
                            .groupImgCon {
                                margin-top: 0;
                                dd {
                                    overflow: inherit;
                                    text-overflow: inherit;
                                    white-space:normal;
                                    a:hover {
                                        color: #f00;
                                    }
                                    &.goodprice {
                                        margin-left: 20px;
                                        input {
                                            margin-top: 2px;
                                            margin-right: 6px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    .goodPrice {
                        width: 137px;
                        padding-top: 45px;
                        p {
                            line-height: 28px;
                        }
                        .redtext {
                            color: #f00;
                        }
                        #grpSel {
                            text-align: center;
                        }
                        #grpSum,#grpCnt {
                            padding-left: 12px;
                            line-height: 28px;
                        }
                        input {
                            width: 110px;
                            height: 33px;
                            margin-top: 10px;
                            margin-left: 12px;
                            background: url(../images/goodimages/btnGroup.gif) no-repeat 0px -127px;
                            cursor: pointer;
                        }
                        #tips {
                            text-align: center;
                            margin-top: 5px;
                            color: #f00;
                            display: none;
                        }
                    }
                }
            }
            #tabBar {
                width: 765px;
                height: 34px;
                border-bottom: 1px solid #78b5f4;
                font-size: 15px;
                font-weight: 700px;
                color: #333;
                .addshopcar {
                    width: 116px;
                    height: 30px;
                    margin-top: 2px;
                    margin-right: 2px;
                    button {
                        width: 116px;
                        height: 30px;
                        background: url(../images/goodimages/btnGroup.gif) no-repeat 0px -354px;
                    }
                }
                ul {
                    li {
                        float: left;
                        width: 140px;
                        height: 34px;
                        line-height: 34px;
                        font-weight: 700;
                        text-align: center;
                        background: url(../images/goodimages/tabsbg.jpg) no-repeat;
                        &.active {
                             background: url(../images/goodimages/btnGroup.gif) no-repeat 0px -262px;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .conTwo {
                padding-top: 10px;
                line-height: 24px;
                .expImg {
                    width: 765px;
                    padding-bottom: 8px;
                    img {
                        width: 765px;
                    }
                }
                .expText {
                    width: 750px;
                    padding: 0 7px 0 8px;
                    h3 {
                        width: 734px;
                        padding-left: 15px;
                        padding-top: 15px;
                        font-size: 15px;
                        line-height: 32px;
                        color: #333;
                        background: url(../images/goodimages/hs_bg.jpg) no-repeat center bottom;
                        .deTxt {
                            color: #aeaeae;
                            margin-left: 8px;
                            font-size: 14px
                        }
                    }
                    .conDetail {
                        width: 345px;
                        float: left;
                        line-height: 24px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding: 0 15px;
                    }
                    .dItmBox {
                        width: 750px;
                        height: 336px;
                        img {
                            float: left;
                        }
                        .con {
                            width: 412px;
                            height: 332px;
                            padding-top: 100px;
                            p {
                                font-size: 12px;
                                line-height: 30px;
                                &.red {
                                    color: #f00;
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                    .picBox {
                        width: 750px;
                        img.pic {
                            width: 750px;
                        }
                    }
                    .goodtabs {
                        height: 30px;
                        line-height: 30px;
                        color: #fff;
                        padding-left: 20px;
                        background: #78b5f4;
                        font-weight: 700;
                        font-size: 14px;
                    }
                    .goodBox {
                        img.spepic {
                            float: left;
                            width: 230px;
                            padding-left: 20px;
                        }
                    }
                    .eva {
                        width: 725px;
                        padding: 18px 20px;
                        border-bottom: 1px solid #e8e8e8;
                        .el {
                            width: 600px;
                            line-height: 20px;
                            .icon_xin5 {
                                width: 65px;
                                height: 12px;
                                margin-top: 10px;
                                background: url(../images/goodimages/icon_xin.png) no-repeat;
                            }
                        }
                        .er {
                            width: 120px;
                            text-align: right;
                            line-height: 20px;
                            .shenfen {
                                color: #929292;
                            }
                            .time {
                                color: #acacac;
                            }
                        }
             
                    }
                    .grouptips {
                        width: 723px;
                        height: 52px;
                        padding: 6px 20px 0 20px;
                        margin-top: 10px;
                        background: #f8f8f8;
                        border: 1px solid #e4e4e4;
                        margin-bottom: 15px;
                        .prodRedTxt {
                            color: #f00;
                        }
                    }
                    .qanda {
                        .tags {
                            margin-top: 8px;
                            text-align: right;
                            color: #acacac;
                            padding-right: 20px;
                        }
                    }
                    .evazx {
                        padding-top: 5px;
                    }
                    .ques {
                        color: #2a7dd3;
                        padding: 0 20px;
                    }
                    .huifu {
                        line-height: 20px;
                        padding: 9px 20px;
                        border-bottom: 1px solid #e4e4e4;
                    }
                    .topj {
                        text-align: right;
                        margin-top: 7px;
                        .quesbtn {
                            width: 75px;
                            height: 29px;
                            cursor: pointer;
                            background: url(../images/goodimages/btnGroup.gif) no-repeat 0px -191px;
                        }
                    }
                }
            }
            
            
            
            
        }
    }
}

























































