@charset "utf-8";
@import "common.scss";
#subnav {
    position: relative;
    z-index: 1000;
}
.navSub {
    display: none;
}
.w980 {
    width: 980px;
}
.mainWrap {
    @extend .w100;
    .main {
        @extend .w980;
        margin: 10px auto;
        margin-top: 0;
        .current {
            height: 34px;
            margin-top: 15px;
            line-height: 34px;
            color: #999;
            border-bottom: 2px solid #78b5f4;
            i {
                display: inline-block;
                margin: 0 3px;
                font-size: 12px;
            }
            a:hover {
                color: #f00;
            }
            .gdname {
                color: #4e7fc2;
            }
        }
        .part1 {
            position: relative;
            margin-top: 15px;
            .part1_l {
                position: relative;
                z-index: 10;
                width: 457px;
                .picsmall {
                    width: 72px;
                    height: 380px;
                    li {
                        width: 72px;
                        height: 72px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        img {
                            width: 70px;
                            height: 70px;
                            border: 1px solid #e4e4e4;
                            &.bdblue {
                                border: 1px solid #78b5f4;
                            }
                        }
                    }
                }
                .picmiddle {
                    position: relative;
                    z-index: 10;
                    width: 350px;
                    height: 350px;
                    margin: 0 15px 0 85px;
                    cursor: move;
                    img {
                        width: 350px;
                        height: 350px;
                        display: none;
                        &.piccurrent {
                            display: block;
                        }
                    }
                    .maskbg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 350px;
                        height: 350px;
                        background: #eaffff;
                        opacity: .3;
                        display: none;
                    }
                    .mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 170px;
                        height: 170px;
                        border: 1px solid #0069ce;
                        background: url(../images/goodimages/middle0.jpg) no-repeat 0 0;
                        display: none;
                    }
                }
                .picbig {
                    position: absolute;
                    left: 436px;
                    top: 0;
                    width: 391px;
                    height: 389px;
                    border: 1px solid #c5c5c5;
                    background: url(../images/goodimages/big0.jpg) no-repeat;
                    display: none;
                    z-index: 10;
                }
                .big {
                    position: relative;
                    text-align: right;
                    margin-top: 8px;
                    i {
                        right: 67px;
                        top: -1px;
                        position: absolute;
                        color: #0069CE;
                    }
                    a {
                        color: #4063a7;
                    }
                }
                .spell {
                    width: 200px;
                    height: 19px;
                    margin: 0 auto 15px;
                    .shareText {
                        float: left;
                        line-height: 23px;
                    }
                    a {
                        display: block;
                        float: left;
                        width: 22px;
                        height: 23px;
                        overflow: hidden;
                        background: url(../images/goodimages/icon_site.gif) no-repeat;
                        background-position: -93px -24px;
                        &.a1 {
                            background-position: 0px -24px;
                        }
                        &.a2 {
                            background-position: -47px -24px;
                        }
                        &.a3 {
                            background-position: -70px -24px;
                        }
                        &.a4 {
                            background-position: -24px -24px;
                        }
                        &.a5 {
                            background-position: -139px -24px;
                        }
                    }
                    
                }
            }
            .part1_r {
                width: 503px;
                h2:  {
                    padding: 10px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #666;
                }
                .pro {
                    width: 483px;
                    padding: 12px 10px 2px 10px;
                    border-top: 1px dotted #e4e4e4;
                    .pname {
                        float: left;
                        width: 66px;
                        height: 28px;
                        padding-top: 1px;
                    }
                    .pneir {
                        float: left;
                        width: 417px;
                        height: 29px;
                        a {
                            color: #4063a7;
                            &:hover {
                                color: #f00;
                            }
                        }
                        .textRed {
                            color: #f00;
                        }
                    }
                    .ml30 {
                        margin-left: 30px;
                    }
                    #sprice {
                        color: #f00;
                        margin-left: -66px;
                        margin-top: 10px;
                    }
                    #spricer {
                        color: #f00;
                        font-size: 16px;
                        font-weight: 700;
                        width: 200px;
                        margin-top: 10px;
                    }
                    .xinbox {
                        position: relative;
                        width: 70px;
                        height: 13px;
                        float: left;
                        .rank {
                            position: absolute;
                            top: -15px;
                            left: 0;
                            width: 70px;
                            height: 13px;
                            margin-top: 14px;
                            background: url(../images/goodimages/small.png) no-repeat;
                        }
                        .line {
                            height: 13px;
                            background: url(../images/goodimages/smallmid.jpg) repeat-x;
                        }
                        .count {
                            position: absolute;
                            top: 0;
                            left: 46px;
                            width: 120px;
                            height: 29px;
                            color: #333;
                            text-align: right;
                            a {
                                span {
                                    color: #fc7f0f;
                                }
                            }
                        }
                        .nneir {
                            float: left;
                            width: 417px;
                            height: 29px;
                        }
                       
                    }

                }
            }
            
        }
    }
}

























































