@import url(reset.css);
.w100, .headerWrap, .navWrap, .footer, .slide .showPic, .slide .showPic .slidePic li {
  width: 100%;
  margin: 0 auto;
}

.headerWrap {
  background: url(../images/headbg.jpg) repeat-x;
}

.header {
  width: 1200px;
  height: 33px;
  margin: 0 auto;
  background: url(../images/headbg.jpg) repeat-x;
  line-height: 33px;
}
.header .left p {
  float: left;
}
.header .left a {
  float: left;
}
.header .left a:hover {
  color: #f00;
}
.header ul {
  position: relative;
}
.header ul li {
  position: relative;
  padding-right: 10px;
  float: left;
  margin-left: 10px;
}
.header ul .hide {
  position: absolute;
  top: 0;
  left: -96px;
  width: 60px;
  padding-right: 20px;
  z-index: 10;
}
.header ul .hide:hover {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}
.header ul .hide:hover ul {
  display: block;
}
.header ul .hide i {
  position: absolute;
  right: -16px;
  top: -10px;
  font-size: 12px;
  color: #666;
}
.header ul .hide a {
  position: relative;
  padding-left: 10px;
}
.header ul .hide ul {
  width: 80px;
  height: 110px;
  display: none;
}
.header ul .hide ul li {
  margin: 0;
  height: 25px;
}
.header ul .hide ul li a:hover {
  color: #f00;
  text-decoration: underline;
}
.header ul .hide em {
  right: -24px;
}
.header ul em {
  position: absolute;
  top: 0;
  right: -10px;
  color: #ddd;
}
.header ul .phone {
  color: #ff1a3a;
  font-size: 16px;
  padding-left: 20px;
  font-style: italic;
  font-weight: 700;
  font-family: "arial, helvetica, sans-serif";
}
.header ul .phone i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #ccc;
}

.top {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
.top .logo {
  width: 320px;
  padding: 15px 0 0 35px;
}
.top .center {
  width: 650px;
  margin-top: 22px;
  position: relative;
}
.top .center .search {
  width: 428px;
  height: 30px;
  border: 2px solid #02A3F0;
  position: relative;
}
.top .center .search .searchMask {
  display: none;
  position: absolute;
  left: 2px;
  top: -31px;
  background: #fff;
  z-index: 2;
  width: 360px;
  height: 28px;
  margin-top: 31px;
  margin-left: -2px;
  opacity: .2;
  background: #ccc;
  box-shadow: 3px 3px 10px #ccc;
}
.top .center .search .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: #02A3F0;
  color: #fff;
  width: 67px;
  height: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 15px;
}
.top .center .search input {
  width: 341px;
  height: 14px;
  padding: 8px 10px;
}
.top .center .search i {
  display: none;
  position: absolute;
  font-size: 14px;
  width: 10px;
  right: 70px;
  top: 6px;
  z-index: 3;
  cursor: pointer;
}
.top .center .hotKey {
  width: 630px;
}
.top .center .hotKey a {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 4px 3px;
}
.top .center .hotKey a.active {
  color: #df5000;
  text-decoration: underline;
}
.top .center .hotKey a.special {
  color: #ff1a3a;
}
.top .center .code {
  position: absolute;
  right: 66px;
  top: -16px;
  width: 80px;
  height: 80px;
  background: url(../images/qrcode-app.png) no-repeat center;
}
.top .center .code:hover .mobile-menu {
  display: block;
}
.top .center .code .mobile-menu {
  position: absolute;
  border: 1px solid #999;
  margin-left: -50px;
  width: 180px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 3px 3px 5px #b8b8b8;
  z-index: 10;
  display: none;
}
.top .center .code .mobile-menu .app, .top .center .code .mobile-menu .gzh {
  background: url(../images/qrcode-app.png) no-repeat left center;
  height: 90px;
  border-bottom: 1px solid #ccc;
  padding-left: 85px;
  padding-top: 2px;
}
.top .center .code .mobile-menu .app strong, .top .center .code .mobile-menu .gzh strong {
  font-weight: 700;
}
.top .center .code .mobile-menu .app a, .top .center .code .mobile-menu .gzh a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/mobile-system.png) no-repeat;
  margin-right: 5px;
  margin-top: 5px;
}
.top .center .code .mobile-menu .app .ios, .top .center .code .mobile-menu .gzh .ios {
  background-position: 0 -25px;
}
.top .center .code .mobile-menu .gzh {
  background: url(../images/qrcode-app.png) no-repeat left center;
  padding-top: 13px;
  height: 80px;
  border: none;
}
.top .shopcar {
  width: 195px;
  height: 44px;
  line-height: 44px;
  margin-top: 20px;
  position: relative;
}
.top .shopcar .trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 125px;
  height: 44px;
  line-height: 44px;
  background: url(../images/detail.gif) no-repeat 0px -30px;
  padding-left: 70px;
}
.top .shopcar .trigger span {
  color: #f00;
  font-weight: 700;
  font-family: "microsoft yahei";
}
.top .shopcar .shoplist {
  position: absolute;
  right: 0px;
  top: 41px;
  z-index: 1;
  height: 42px;
  width: 262px;
  border: 1px solid #dbdbda;
  background: #fff;
  line-height: 42px;
  padding-left: 20px;
  display: none;
}
.top .shopcar:hover .trigger {
  background: url(../images/detail.gif) no-repeat 0px -74px;
  padding-top: 0px;
}
.top .shopcar:hover .shoplist {
  display: block;
}

.navWrap {
  background: #000;
}

.navTotal {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  background: #000;
  position: relative;
}
.navTotal .nav {
  position: absolute;
  top: 0;
  left: 230px;
  width: 960px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
}
.navTotal .nav li {
  float: left;
  padding: 0 30px;
  background: url(../images/navlibg.jpg) no-repeat left center;
}
.navTotal .nav li.bgn {
  background: none;
}
.navTotal .nav li a {
  display: block;
  color: #fff;
}
.navTotal .nav li a:hover {
  color: #03afec;
}
.navTotal .nav li a.red {
  color: #f00;
}
.navTotal .goodList span {
  width: 230px;
  height: 40px;
  line-height: 40px;
  background: #03afec;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.navTotal .goodList .navSub {
  width: 230px;
  position: relative;
}
.navTotal .goodList .navSub li {
  position: relative;
}
.navTotal .goodList .navSub .navSubList.activeNav {
  background: #fff;
  width: 210px;
  border: 1px solid #bdbdbd;
  border-right: none;
  border-left: 2px solid #00adff;
  padding-left: 18px;
  padding-top: 12px;
  z-index: 10;
}
.navTotal .goodList .navSub .navSubList {
  position: relative;
  width: 208px;
  line-height: 22px;
  text-align: left;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
  padding: 11px 0px 6px 20px;
  z-index: 10;
}
.navTotal .goodList .navSub .navSubList strong {
  display: block;
  font-size: 16px;
  padding-top: 5px;
  width: 210px;
  height: 18px;
  margin: 0 0 4px;
  font-weight: 700;
}
.navTotal .goodList .navSub .navSubList strong i {
  float: right;
  margin-right: 12px;
  margin-top: 0px;
  color: #03afec;
}
.navTotal .goodList .navSub .navSubList p {
  height: 44px;
  line-height: 22px;
}
.navTotal .goodList .navSub .navSubList a {
  margin-right: 13px;
  float: left;
}
.navTotal .goodList .navSub .navSubList a:hover {
  color: #03afec;
}
.navTotal .goodList .navSub .details {
  position: absolute;
  top: 0px;
  left: 228px;
  width: 650px;
  background: #fff;
  border: 1px solid #bdbdbd;
  display: none;
  z-index: 5;
}
.navTotal .goodList .navSub .details ul {
  width: 380px;
  padding: 0 20px;
}
.navTotal .goodList .navSub .details ul li {
  width: 380px;
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
  line-height: 22px;
  overflow: hidden;
}
.navTotal .goodList .navSub .details ul li.spe {
  border: none;
}
.navTotal .goodList .navSub .details ul li strong {
  width: 70px;
}
.navTotal .goodList .navSub .details ul li strong a {
  font-size: 12px;
}
.navTotal .goodList .navSub .details ul li p {
  width: 310px;
}
.navTotal .goodList .navSub .details .recommend {
  width: 200px;
  background: #f8f8f8;
  padding: 15px;
}
.navTotal .goodList .navSub .details .recommend dl {
  width: 200px;
  margin-bottom: 10px;
}
.navTotal .goodList .navSub .details .recommend dl dt {
  width: 200px;
}
.navTotal .goodList .navSub .details .recommend dl dt h4 {
  border-bottom: 1px solid #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
.navTotal .goodList .navSub .details .recommend dl dd {
  width: 100px;
  float: left;
  line-height: 22px;
}

.footer {
  background: url(../images/footbd.jpg) repeat-x;
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
}
.footer .ft {
  width: 1200px;
  height: 174px;
  margin: 0 auto;
  margin-top: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.footer .ft .info {
  width: 240px;
  padding-left: 44px;
}
.footer .ft .info .tel {
  width: 197px;
  height: 49px;
  background: url(../images/detail.gif) no-repeat 0 -157px;
}
.footer .ft .info .tel .num {
  padding-left: 72px;
  font-style: italic;
  font-weight: 700;
  padding-top: 8px;
  color: #ff0;
}
.footer .ft .info .tel .time {
  width: 148px;
  color: #444;
  text-align: right;
}
.footer .ft .info .weibo {
  position: relative;
  width: 197px;
  height: 22px;
  line-height: 22px;
  background: url(../images/w.jpg) no-repeat;
  margin-top: 10px;
  padding-left: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer .ft .info .weibo a {
  position: absolute;
  top: 0;
  left: 114px;
}
.footer .ft .info .email {
  position: relative;
}
.footer .ft .info .email input {
  border: 1px solid #ccc;
  font-size: 12px;
  color: #ccc;
  height: 22px;
}
.footer .ft .info .email a {
  position: absolute;
  left: 132px;
  top: 0;
}
.footer .ft .info .ps {
  margin-top: 10px;
}
.footer .ft dl {
  float: left;
  width: 100px;
  height: 150px;
  padding-left: 25px;
  border-left: 1px solid #e1e1e1;
}
.footer .ft dl dt {
  margin-bottom: 14px;
}
.footer .ft dl dt a {
  font-size: 13px;
  color: #444;
  font-weight: 700;
}
.footer .ft dl dd a {
  height: 22px;
  line-height: 22px;
  color: #999;
}
.footer .ft .code {
  width: 125px;
  height: 150px;
  padding-top: 11px;
  padding-left: 33px;
  background: url(../images/ss.jpg) no-repeat 30px 104px;
}
.footer .ft .code img {
  border: 1px solid #eee;
}
.footer .footerBottom {
  width: 880px;
  height: 130px;
  margin: 0 auto;
  padding: 0 160px 0 160px;
  border-bottom: 1px solid #ccc;
}
.footer .footerBottom dl {
  width: 140px;
  height: 110px;
  margin: 15px 40px;
  float: left;
}
.footer .footerBottom dl dt {
  width: 108px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 16px;
}
.footer .footerBottom dl dd {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  color: #444;
}

.about {
  width: 1200px;
  height: 44px;
  margin: 0 auto;
  text-align: center;
  line-height: 44px;
  color: #444;
  font-size: 14px;
  font-family: "microsoft yahei";
}

.slide {
  width: 1200px;
  height: 622px;
  margin: 0 auto;
}
.slide .showPic {
  position: relative;
  height: 400px;
}
.slide .showPic .slidePic li {
  position: absolute;
  left: 0;
  top: 0;
  height: 400px;
  background: #f6ede4 url(../images/slide1.jpg) no-repeat 230px center;
}
.slide .showPic .slidePic li .link {
  position: relative;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
.slide .showPic .slidePic li .link a {
  position: absolute;
  display: block;
  width: 765px;
  height: 400px;
  top: 0;
  left: 230px;
  overflow: hidden;
  z-index: 5;
}
.slide .showPic .slidePic .slidePic2 {
  background: #b5e2e1 url(../images/slide2.jpg) no-repeat 230px center;
}
.slide .showPic .slidePic .slidePic3 {
  background: #feeaf3 url(../images/slide3.jpg) no-repeat 230px center;
}
.slide .showPic .slideSub {
  position: absolute;
  left: 1000px;
  top: 10px;
  width: 190px;
  height: 372px;
  z-index: 3;
}
.slide .showPic .slideSub li {
  float: left;
  height: 124px;
  width: 190px;
}
.slide .showPic .order {
  position: absolute;
  width: 260px;
  height: 25px;
  top: 350px;
  left: 200px;
  z-index: 3;
}
.slide .showPic .order li {
  padding: 4px;
  float: left;
  width: 14px;
  height: 14px;
  background: #e8e8e8;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
}
.slide .showPic .order li.orderActive {
  background-color: #00b5ff;
}
.slide .notice-box {
  width: 750px;
  height: 35px;
  margin: 0 auto;
  padding: 0 199px 0 186px;
  line-height: 35px;
}
.slide .notice-box li {
  margin-left: 25px;
}
.slide .notice-box li i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #00B5FF;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
.slide .notice-box li a:hover {
  text-decoration: underline;
}
.slide .imgBox1 {
  width: 969px;
  height: 187px;
  margin: 0 auto;
  padding: 0 0 0 241px;
  overflow: hidden;
}
.slide .imgBox1 a {
  display: block;
  margin: 0 10px 0 0;
  float: left;
}

.content .limitbuyBox {
  width: 1200px;
  height: 530px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}
.content .limitbuyBox h2 {
  border-bottom: 2px solid #ff8c8f;
  padding: 30px 0 8px 2px;
  margin-bottom: 10px;
}
.content .limitbuyBox .detail {
  width: 100%;
}
.content .limitbuyBox .detail li {
  float: left;
  margin-right: 12px;
}
.content .limitbuyBox .detail li.limitSpe {
  margin: 0;
}
.content .limitbuyBox .detail li a {
  position: relative;
  display: block;
  width: 287px;
  height: 400px;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  padding: 1px;
}
.content .limitbuyBox .detail li a:hover {
  border: 1px solid #f00;
}
.content .limitbuyBox .detail li a.mr0 {
  margin-right: 0;
}
.content .limitbuyBox .detail li a .time-end {
  position: relative;
  width: 227px;
  height: 38px;
  line-height: 38px;
  background: #f8f7f5;
  padding-left: 60px;
}
.content .limitbuyBox .detail li a .time-end i {
  position: absolute;
  font-size: 24px;
  top: 0;
  left: 20px;
}
.content .limitbuyBox .detail li a .time-end p {
  color: #999;
  font-size: 16px;
}
.content .limitbuyBox .detail li a .time-end p b {
  font-weight: 700;
  color: #f00;
}
.content .limitbuyBox .detail li a .qiangImg {
  width: 260px;
  height: 260px;
  margin: 10px;
}
.content .limitbuyBox .detail li a .qiangInfo {
  width: 261px;
  height: 30px;
  line-height: 20px;
  padding: 0 13px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .limitbuyBox .detail li a .buy {
  width: 100%;
  height: 55px;
  background: url(../images/buy.jpg) no-repeat;
  color: #fff;
  padding-left: 20px;
  margin-left: -2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  font-family: "microsoft yahei";
}
.content .limitbuyBox .detail li a .buy span {
  font-size: 30px;
}
.content .limitbuyBox .detail li a .buyPeo {
  position: absolute;
  right: 14px;
  bottom: -34px;
  font-size: 14px;
}
.content .limitbuyBox .detail li a .buyPeo span {
  color: #f00;
  font-size: 18px;
  font-weight: 700;
}
.content .saleBox {
  width: 1200px;
  height: 482px;
  margin: 0 auto;
  border-bottom: 1px solid #e4e4e4;
}
.content .saleBox .saleTabs {
  position: relative;
}
.content .saleBox .saleTabs .tabArrow {
  position: absolute;
  width: 237px;
  height: 7px;
  left: 0;
  top: 33px;
  border-bottom: 2px solid #0094ff;
  overflow: hidden;
}
.content .saleBox .saleTabs .tabArrow span {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -3px;
  width: 0px;
  line-height: 0;
  height: 0;
  border: 5px solid #0094ff;
  border-color: transparent transparent #0094ff;
  z-index: 3;
}
.content .saleBox .saleTabs ul {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #d0d0d0;
  background: url(../images/tabs_bg.jpg) repeat-x;
}
.content .saleBox .saleTabs ul li {
  float: left;
  color: #333;
  cursor: pointer;
  padding: 0 82px;
  background: url(../images/tabsli_bg.jpg) no-repeat right bottom;
}
.content .saleBox .saleTabs ul li.bgn {
  background: none;
}
.content .saleBox .salebox {
  font-family: "microsoft yahei";
  padding: 8px;
  height: 405px;
}
.content .saleBox .salebox .saleb {
  height: 405px;
  float: left;
}
.content .saleBox .salebox .salebox1 {
  width: 230px;
  border-right: 1px solid #e4e4e4;
}
.content .saleBox .salebox .salebox1 img {
  width: 230px;
  height: 230px;
}
.content .saleBox .salebox .salebox1 dd {
  padding: 0 26px;
  font-size: 13px;
  line-height: 20px;
}
.content .saleBox .salebox .salebox1 dd.saleinfo a {
  border-bottom: 10px;
}
.content .saleBox .salebox .price {
  color: #f00;
}
.content .saleBox .salebox .price span {
  font-size: 18px;
  font-weight: 700;
}
.content .saleBox .salebox .saleExec {
  margin-bottom: 40px;
}
.content .saleBox .salebox .saleExec a {
  color: #f00;
}
.content .saleBox .salebox .salebox2 {
  width: 480px;
  border-right: 1px solid #e4e4e4;
}
.content .saleBox .salebox .salebox2 .saleT {
  height: 230px;
  border-bottom: 1px solid #e4e4e4;
}
.content .saleBox .salebox .salebox2 .saleT dl {
  width: 240px;
  float: left;
}
.content .saleBox .salebox .salebox2 .saleT dl.salebr {
  border-right: 1px solid #e4e4e4;
  width: 239px;
}
.content .saleBox .salebox .salebox2 .saleT dl dt img {
  width: 150px;
  height: 150px;
  margin: 10px auto;
}
.content .saleBox .salebox .salebox2 .saleT dl dd {
  margin: 10px 0 0 20px;
}
.content .saleBox .salebox .salebox2 .saleB dt {
  width: 220px;
  height: 180px;
}
.content .saleBox .salebox .salebox2 .saleB dd {
  float: left;
  margin-top: 20px;
}
.content .saleBox .salebox .salebox2 .saleB dd.saleExec {
  margin-bottom: 0;
}
.content .saleBox .salebox .salebox3 {
  width: 234px;
}
.content .saleBox .salebox .salebox3 img {
  width: 230px;
  height: 230px;
}
.content .saleBox .salebox .salebox3 dd {
  margin: 10px 0 0 20px;
}
.content .saleBox .salebox .salebox3 dd.price {
  margin-top: 44px;
}
.content .saleBox .salebox .salebox3 dt {
  margin-top: 63px;
}
.content .saleBox .salebox .salebox4 {
  width: 234px;
  border-left: 1px solid #e4e4e4;
}
.content .saleBox .salebox .salebox4 img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.content .saleBox .salebox .salebox4 dd {
  margin: 10px 0 0 20px;
}
.content .saleBox .salebox .salebox4 .saleB {
  border-top: 1px solid #e4e4e4;
}
.content .saleBox .salebox .salebox4 .saleB img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.content .saleBox .salebox .salebox4 .saleB dd {
  margin: 10px 0 0 20px;
}
.content .brandBox {
  width: 1200px;
  height: 352px;
  margin: 0 auto;
}
.content .brandBox .brandTitle {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  border-bottom: 2px solid #d0d0d0;
}
.content .brandBox .brandTitle h3 {
  width: 230px;
  padding-left: 2px;
  font-size: 18px;
  font-family: "microsoft yahei";
  font-weight: 700;
  color: #333;
  height: 40px;
  line-height: 40px;
}
.content .brandBox .brandTitle p {
  height: 25px;
  width: 900px;
  margin-top: 10px;
  text-align: right;
}
.content .brandBox .brandTitle p a {
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-right: 1px solid #333;
}
.content .brandBox .brandTitle p a.brandbrn {
  border-right: none;
}
.content .brandBox .brandCon {
  margin-top: 10px;
}
.content .brandBox .brandCon li {
  width: 236px;
  height: 300px;
  float: left;
  margin-right: 5px;
}
.content .brandBox .brandCon li.brandm0 {
  margin: 0;
}
.content .hufuBox .hufuTit {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  margin: 20px 0 10px 0;
  border-bottom: 2px solid #0094ff;
}
.content .hufuBox .hufuTit h3 {
  width: 230px;
  height: 40px;
  padding-left: 2px;
  float: left;
}
.content .hufuBox .hufuTit p {
  height: 25px;
  width: 900px;
  margin-top: 10px;
  text-align: right;
}
.content .hufuBox .hufuTit p a {
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-right: 1px solid #333;
}
.content .hufuBox .hufuTit p a.brandbrn {
  border-right: none;
}
.content .hufuBox .hufuTit p a:hover {
  color: #f00;
}
.content .hufuBox .hufuCon {
  width: 1200px;
  height: 538px;
  margin: 0 auto;
  border-bottom: 1px solid #f1f1f1;
}
.content .hufuBox .hufuCon .hufusub {
  width: 268px;
  height: 480px;
}
.content .hufuBox .hufuCon .hufuC, .content .hufuBox .hufuCon .hufutop {
  width: 690px;
  font-family: "microsoft yahei";
}
.content .hufuBox .hufuCon .hufuC dl, .content .hufuBox .hufuCon .hufutop dl {
  width: 344px;
  height: 180px;
  padding: 7px 0 14px 0;
  border-bottom: 1px solid #f1f1f1;
}
.content .hufuBox .hufuCon .hufuC dl.hufuTL, .content .hufuBox .hufuCon .hufutop dl.hufuTL {
  border: 1px solid #e4e4e4;
  border-left: none;
  border-top: none;
}
.content .hufuBox .hufuCon .hufuC dl.hufuH dt, .content .hufuBox .hufuCon .hufutop dl.hufuH dt {
  width: 190px;
  text-align: center;
  float: left;
}
.content .hufuBox .hufuCon .hufuC dl.hufuH dt img, .content .hufuBox .hufuCon .hufutop dl.hufuH dt img {
  width: 180px;
}
.content .hufuBox .hufuCon .hufuC dl.hufuH dd, .content .hufuBox .hufuCon .hufutop dl.hufuH dd {
  float: right;
  width: 150px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .hufuBox .hufuCon .hufuC dl dd.goodname, .content .hufuBox .hufuCon .hufutop dl dd.goodname {
  height: 36px;
  color: #666;
  margin: 28px 0 10px 0;
}
.content .hufuBox .hufuCon .hufuC dl dd.goodexec, .content .hufuBox .hufuCon .hufutop dl dd.goodexec {
  height: 32px;
  color: #000;
  margin-bottom: 30px;
}
.content .hufuBox .hufuCon .hufuC dl dd.goodprice a, .content .hufuBox .hufuCon .hufutop dl dd.goodprice a {
  color: #f00;
}
.content .hufuBox .hufuCon .hufuC dl dd.goodprice a span, .content .hufuBox .hufuCon .hufutop dl dd.goodprice a span {
  font-size: 18px;
  font-weight: 700;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl {
  float: left;
  width: 181px;
  border-right: 1px solid #f1f1f1;
  padding: 15px 24px 82px 24px;
  font-size: 14px;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl.hufubr0 {
  border-right: 0;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl dt img {
  width: 180px;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl dd.goodname {
  height: 18px;
  color: #666;
  margin: 0;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl dd.goodexec {
  height: 18px;
  color: #000;
  overflow: hidden;
  margin-bottom: 0;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl dd.goodprice {
  color: #f00;
  font-size: 14px;
}
.content .hufuBox .hufuCon .hufuC .hufuB dl dd.goodprice span {
  font-size: 18px;
  font-weight: 700;
}
.content .hufuBox .hufuCon .hufuR {
  width: 218px;
}
.content .hufuBox .hufuCon .hufuR h2 {
  width: 218px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #f00;
  border-bottom: 2px solid #d0d0d0;
}
.content .hufuBox .hufuCon .hufuR .listShow li {
  width: 218px;
  cursor: pointer;
}
.content .hufuBox .hufuCon .hufuR .listShow li p {
  display: block;
  height: 43px;
  line-height: 43px;
  padding: 0 8px;
  border-bottom: 1px solid #e4e4e4;
}
.content .hufuBox .hufuCon .hufuR .listShow li p i {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 12px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 50%;
  color: #f00;
  text-align: center;
  border: 1px solid #f00;
}
.content .hufuBox .hufuCon .hufuR .listShow li p span {
  display: block;
  margin-left: 6px;
}
.content .hufuBox .hufuCon .hufuR .listShow li .hufuinfo {
  display: none;
  text-align: center;
  font-weight: 700;
  padding: 9px 0;
  border-bottom: 2px solid #e4e4e4;
}
.content .hufuBox .hufuCon .hufuR .listShow li .hufuinfo.showspe {
  display: block;
}
.content .hufuBox .hufuCon .hufuR .listShow li .hufuinfo dt img {
  width: 160px;
  margin: 0 auto;
}
.content .hufuBox .hufuCon .hufuR .listShow li .hufuinfo .hufuname {
  color: #000;
  line-height: 22px;
}
.content .hufuBox .hufuCon .hufuR .listShow li .hufuinfo .hufuprice {
  color: #f00;
  line-height: 22px;
}
.content .hufuBox .hufuCon .hufuBanner {
  width: 1200px;
  height: 58px;
  margin: 0 auto;
  border: 1px solid #e4e4e4e;
  padding: 0 6px;
  float: left;
}
.content .hufuBox .hufuCon .hufuBanner a {
  display: block;
  float: left;
  margin: 11px 12px;
}
.content .hufuBox .hufuCon .hufuBanner a img {
  width: 75px;
  height: 36px;
}
.content .xsbox #xsl {
  width: 326px;
  height: 480px;
  margin-right: 1px;
}
.content .xsbox #xsC {
  width: 655px;
  position: relative;
}
.content .xsbox #xsC #centerT {
  display: block;
  width: 355px;
  height: 276px;
  margin-bottom: 1px;
}
.content .xsbox #xsC #centerT img {
  height: 276px;
  width: 355px;
}
.content .xsbox #xsC .img5 {
  position: absolute;
  right: 22px;
  top: -1px;
  width: 275px;
  height: 480px;
}
.content .xsbox .centerB {
  width: 177px;
  height: 203px;
  margin-right: 1px;
  float: left;
}
.content .menbox .menCon {
  width: 614px;
  height: 480px;
}
.content .menbox .menCon li {
  float: left;
  width: 184px;
  height: 227px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 6px 10px;
  text-align: center;
}
.content .menbox .menCon li.br0 {
  border-right: none;
}
.content .menbox .menCon li.bb0 {
  border-bottom: none;
}
.content .menbox .menCon li dt img {
  width: 180px;
  height: 180px;
}
.content .menbox .menCon li dd {
  font-size: 14px;
  height: 18px;
  font-family: "microsoft yahei";
}
.content .menbox .menCon li dd.goodname {
  margin-top: 5px;
}
.content .menbox .menCon li dd.goodprice {
  font-size: 14px;
  color: #f00;
}
.content .menbox .menCon li dd.goodprice span {
  font-weight: 700;
  font-size: 16px;
}
.content .menbox .pic {
  width: 344px;
  height: 480px;
}
.content .beauty {
  width: 1200px;
  height: 800;
  margin: 0 auto;
  font-family: "microsoft yahei";
}
.content .beauty .beautyinfo {
  width: 765px;
  height: 478px;
  border: 1px solid #e4e4e4;
  margin-top: 25px;
  border-top: 2px solid #d0d0d0;
  padding: 1px 20px;
}
.content .beauty .beautyinfo h2 {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 4px;
  margin-bottom: 20px;
  color: #333;
}
.content .beauty .beautyinfo .infol {
  width: 250px;
  padding: 0 32px 0 10px;
}
.content .beauty .beautyinfo .infol dt img {
  width: 250px;
  height: 330px;
}
.content .beauty .beautyinfo .infol .title {
  width: 250px;
  height: 16px;
  line-height: 16px;
  margin-top: 13px;
  font-weight: 700;
  font-size: 13spx;
  color: #545454;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .beauty .beautyinfo .infol .links {
  line-height: 22px;
  height: 48px;
  color: #999;
}
.content .beauty .beautyinfo .infol .links a {
  color: #f00;
}
.content .beauty .beautyinfo .infor {
  width: 465px;
}
.content .beauty .beautyinfo .infor dl {
  height: 140px;
}
.content .beauty .beautyinfo .infor dl dt {
  float: left;
  width: 170px;
}
.content .beauty .beautyinfo .infor dl dt img {
  width: 153px;
  height: 117px;
}
.content .beauty .beautyinfo .infor dl dd {
  width: 291px;
  float: left;
}
.content .beauty .beautyinfo .infor dl dd.title {
  height: 36px;
  margin-right: 3px;
  color: #545454;
  line-height: 36px;
  font-weight: 700;
}
.content .beauty .beautyinfo .infor dl dd.title span {
  color: #00a2ff;
  margin-right: 9px;
}
.content .beauty .beautyinfo .infor dl dd.links {
  height: 68px;
  color: #999;
}
.content .beauty .beautyinfo .infor dl dd.links s
a {
  color: #f00;
}
.content .beauty .beautyshare {
  position: relative;
  width: 336px;
  height: 470px;
  margin-top: 25px;
  background: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-top: 2px solid #d0d0d0;
  padding: 0 10px 10px 10px;
}
.content .beauty .beautyshare h2 {
  position: absolute;
  width: 338px;
  height: 43px;
  background: url(../images/dbg.jpg) no-repeat;
  line-height: 36px;
  top: 9px;
  left: -9px;
  font-size: 16px;
  color: #fff;
  padding-left: 19px;
}
.content .beauty .beautyshare dl {
  width: 323px;
  height: 93px;
  margin: 11px 8px;
  border-bottom: 1px dashed #ccc;
}
.content .beauty .beautyshare dl.first {
  padding-top: 61px;
}
.content .beauty .beautyshare dl.bb0 {
  border-bottom: none;
}
.content .beauty .beautyshare dl dt {
  width: 90px;
  text-align: right;
}
.content .beauty .beautyshare dl dt img {
  width: 87px;
  border: 1px solid #ccc;
}
.content .beauty .beautyshare dl dd.tit {
  margin-top: 3px;
  font-weight: 700;
  line-height: 29px;
  height: 29px;
  color: #545454;
  overflow: hidden;
  width: 222px;
  text-overflow: ellipsis;
  white-space: noWrap;
}
.content .beauty .beautyshare dl dd.links {
  width: 200px;
  color: #999;
  line-height: 18px;
  height: 38px;
}
.content .beauty .beautyshare dl dd.links a:hover {
  color: #f00;
  text-decoration: underline;
}
.content .beauty .beautyshare dl dd.links a span {
  color: #f00;
  font-size: 15px;
}

/*# sourceMappingURL=index.css.map */
