@charset "utf-8";
@import "common.scss";
#subnav {
    position: relative;
    z-index: 1000;
}
.navSub {
    display: none;
}
.mainWrap {
    width: 1200px;
    margin: 0 auto;
    .main {
        width: 1200px;
        .current {
            height: 34px;
            line-height: 34px;
            margin-top: 15px;
            color: #999;
            i {
                margin: 0 10px;
            }
            span {
                color: #4e7fc2;
            }
            
        }
        .conLeft {
            width: 230px;
            .left-catnav {
                width: 228px;
                color: #333;
                border: 1px solid #e4e4e4;
                .week-ranklist {
                    h3 {
                        width: 100%;
                        height: 36px;
                        line-height: 36px;
                        cursor: pointer;
                        font-size: 13px;
                        background: url(../images/list/h3bg.jpg) repeat-x;
                      .close {
                          display: block;
                          width: 15px;
                          height: 15px;
                          margin: 10px 10px 0 12px;
                          background: url(../images/detail.gif) no-repeat 0px -248px;
                      } 
                      .count {
                          color: #999;
                          margin-left: 2px;
                      }
                    }
                    ul {
                        display: none;
                        width: 154px;
                        padding: 8px 37px;
                        border-bottom: 1px solid #e4e4e4;
                        background: #fff;
                        li {
                            line-height: 26px;
                            height: 26px;
                            cursor: pointer;
                            span {
                                color: #999;
                                margin-left: 2px;
                            }
                            a {
                                &:hover {
                                    color: #f00;
                                }
                            }
                        }
                    }
                }
                .box {
                    width: 228px;
                    border: 1px solid #e4e4e4;
                    margin-top: 10px;
                    .tit {
                        width: 226px;
                        height: 33px;
                        line-height: 33px;
                        margin: 1px;
                        color: #333;
                        font-size: 14px;
                        font-weight: 700;
                        text-align: center;
                        border-bottom: 1px solid #e4e4e4;
                        background: url(../images/list/h3bg.jpg) repeat-x;
                    }
                    .good {
                        width: 208px;
                        height: 82px;
                        padding: 15px 10px;
                        text-align: center;
                        border-bottom: 1px dashed #e4e4e4;
                        &.goodbd0 {
                            border-bottom: none;
                        }
                        .timg {
                            width: 100px;
                            height: 82px;
                            img {
                                width: 82px;
                                height: 82px;
                            }
                        }
                        .ttext {
                            width: 102px;
                            padding-top: 15px;
                            .gname {
                                height: 30px;
                                line-height: 16px;
                                overflow: hidden;
                                text-align: left;
                            }
                            .gprice {
                                text-align: right;
                                margin-top: 8px;
                                color: #f00;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                    }
                    
                    
                    
                    
                }
                
            }
        }
        .conRight {
            width: 960px;
            font-family: "microsoft yahei";
            .select {
                width: 914px;
                margin-left: 20px;
                border: 3px solid #f4f4f4;
                padding: 20px;
                dl {
                    width: 914px;
                    border-bottom: 1px solid #f4f4f4;
                    padding: 3px 0;
                    dt {
                        width: 70px;
                        line-height: 24px;
                        text-align: right;
                        font-weight: 700;
                        font-size: 15px;
                    }
                    dd {
                        width: 830px;
                        color: #005ea7;
                        font-size: 14px;
                        .more {
                            width: 50px;
                            height: 20px;
                            padding-left: 10px;
                            line-height: 20px;
                            border: 1px solid #e0dee0;
                            border-radius: 2px;
                            background: #f7f7f7;
                            cursor: pointer;
                        }
                        .zm {
                            position: relative;
                            height: 24px;
                            line-height: 24px;
                            float: left;
                            border-bottom: 1px solid #fff;
                            margin-right: 3px;
                            padding: 0 10px;
                            color: #0066cc;
                            cursor: pointer;
                            &.zmDef{
                                background: #02a3f0;
                                color: #fff;
                                 b{
                                    position: absolute;
                                    left: 50%;
                                    bottom: -10px;
                                    overflow: hidden;
                                    width: 0;
                                    height: 0;
                                    border-width: 5px;
                                    border-style: solid dashed dashed;
                                    border-color: #02a3f0 transparent transparent; 
                                    margin-left: -5px;
                                }
                            }
                        }
                        .brands {
                            width: 750px;
                            margin-top: 20px;
                            padding: 10px 106px;
                            padding-bottom: 4px;
                            p {
                                width: 125px;
                                height: 20px;
                                padding-top: 4px;
                                margin-left: 20px;
                                float: left;
                                overflow: hidden;
                                cursor: pointer;
                                a {
                                   &:hover {
                                       color: #f00;
                                   }
                                }
                            }
                        }
                    }
                }
                .lastdl {
                    width: 914px;
                    padding: 3px 0;
                    border-bottom: none;
                    dt {
                        width: 70px;
                        line-height: 24px;
                        font-weight: 700;
                        text-align: right;
                    }
                    dd {
                        width: 830px;
                        color: #005ea7;
                        .zm {
                            height: 24px;
                            line-height: 24px;
                            float: left;
                            border-bottom: 1px solid #fff;
                            margin-right: 3px;
                            padding: 0 10px;
                            cursor: pointer;
                            a {
                                color: #0066cc;
                            }
                        }
                        
                        .abox {
                            height: 20px;
                            background: #02A3F0;
                            margin-right: 16px;
                            line-height: 20px;
                            margin-top: 1px;
                            padding: 0 4px;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .filter {
                width: 938px;
                height: 26px;
                margin-top: 10px;
                border-top: 2px solid #15ade0;
                margin-left: 20px;
                padding: 5px 10px;
                background: url(../images/list/filbg.jpg) repeat-x;
                dl {
                    line-height: 26px;
                    dd {
                        float: left;
                        height: 24px;
                        margin-right: 5px;
                        line-height: 24px;
                        padding: 0 10px;
                        border: 1px solid #e4e4e4;
                        &.cur {
                            background: #f00;
                            border: 1px solid #f00;
                            color: #fff;
                            font-weight: 700;
                            position: relative;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
                .page {
                    height: 26px;
                    border-left: 1px solid #e7e3e7;
                    .mb {
                        padding: 4px 11px;
                        border: none;
                        i {
                            color: #f00;
                            font-weight: 700;
                        }
                    }
                    .prebtn {
                        color: #ccc;
                        padding-left: 12px;
                        padding: 3px 10px;
                        border: 1px solid #ccc;
                        margin-left: 2px;
                        border-radius: 3px;
                        background: #f8f8f8;
                        height: 14px;
                        line-height: 14px;
                        margin-top: 2px;
                        cursor: pointer;
                    }
                    a {
                        display: block;
                        height: 14px;
                        line-height: 14px;
                        margin-top: 2px;
                        color: #005aa0;
                        background: #f8f8f8;
                        float: left;
                        padding: 3px 10px;
                        border: 1px solid #ccc;
                        margin-left: 2px;
                        border-radius: 3px;
                        
                    }
                }
                .total {
                    height: 22px;
                    padding: 2px 15px 2px 0;
                    line-height: 22px;
                    .cplist {
                        width: 960px;
                        margin: 10px auto;
           
                    }
                }
            }
            .cplist {
                dl {
                    float: left;
                    width: 214px;
                    padding: 13px;
                    background: #fff;
                    dt {
                        width: 200px;
                        height: 200px;
                        padding: 7px;
                        background: #fff;
                        img {
                            width: 200px;
                            height: 200px;
                            
                        }
                    }
                    dd {
                        &.pro-name {
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            a {
                                color: #666;
                                &:hover {
                                    color: #f00;
                                    text-decoration: underline;
                                }
                            }
                        }
                        &.pro-price {
                            margin: 10px 0 8px 0;
                            font-size: 14px;
                            font-weight: 700;
                            color: #f00;
                            .price {
                                font-size: 16px;
                            }
                        }
                        &.buybtn {
                            a {
                                display: block;
                                padding: 0 15px;
                                float: left;
                                height: 24px;
                                line-height: 24px;
                                border-radius: 3px;
                                text-align: center;
                                &.add {
                                    background: #f00;;
                                    color: #fff;
                                }
                                &.shouc {
                                    background: #efefef;
                                    color: #666;
                                    margin-left: 10px;
                                    border: 1px solid #dfdfdf;
                                    height: 22px;
                                    line-height: 22px;
                                }
                                
                            }
                        }
                        
                    }
                }
                
            }
            #pageBelow {
                width: 960px;
                margin-top: 60px;
                .pageBelow {
                    width: 132px;
                    float: right;
                    a {
                        display: block;
                        float: left;
                        width: 20px;
                        height: 30px;   
                        text-align: center;
                        border: 1px solid #f8f8f8;
                        padding: 1px 10px;
                        margin-left: 2px;
                        line-height: 30px;
                        &.pagecurrent {
                            border: 1px solid #02a3f0;
                            font-weight: 700;
                            background: #02a3f0;
                            color: #fff;
                        }
                    }
                }
            }
        }
        
    }
}


















































