@charset "utf-8";
@import "common.scss";

.commonStyle {
    width: 455px;
    height: 453px;
    margin-top: 40px;
    padding: 0 10px;
}
.titbg {
   width: 439px;
   height: 43px;
   margin-bottom: 37px;
}
.navSub {
    display: none;
}
 input {
       width: 242px;
       height: 30px;
       border: 1px solid #7f9db9;
       padding-left: 10px;
   }
p.yzcode {
        span {
           float: left;
           height: 30px;
           line-height: 30px;
           margin-right: 8px;
        }
        input {
           float: left;
           width: 98px;
        }
        i {
            float: left;
            display: inline-block;
            width: 92px;
            height: 30px;
            background: pink;
            margin-left: 20px;
            background: url(../images/yzmbg6.gif);
            }
       }
p.sub {
       height: 55px;
       margin-left: 50px;
       font-weight: 700;
       a {
           display: block;
           height: 29px;
           width: 190px;
           margin-left: 123px;
           background: url(../images/btn-login.png) no-repeat;
       }
}
.mainWrap {
    width: 980px;
    margin: 0 auto;
    .main {
        width: 958px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #c6e6f3;
        .line {
            width: 1px;
            height: 403px;
            background: url(../images/line.png) no-repeat;
        }
        .login {
           @extend .commonStyle;
           .loginTit {
               @extend .titbg;
               background: url(../images/loginTit.png);
           }
           .loginfm {
               width: 455px;
               height: 280px;
               p {
                   height: 55px;
                   margin-left: 28px;
                   span {
                       display: inline-block;
                       width: 60px;
                       height: 25px;
                       line-height: 23px;
                       text-align: right;
                       font-weight: 700;
                   }
                   &.yzcode {
                       position: relative;
                        input {
                            width: 98px;
                        }
                        i {
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 30px;
                        }
                        a#loginrecode {
                            text-decoration: underline;
                            color: deepskyblue;
                            line-height: 30px;
                            margin-left: 20px;
                        }
                        em.tsinfo {
                            position: absolute;
                            left: 65px;
                            top: 42px;
                        }
                    }
                    &.sub {
                        margin-top: 20px;
                    }
                }
                .tishi {
                   width: 100%;
                   margin-left: 50px;
                   p{
                        width: 100%; 
                        height: 30px;
                        line-height: 30px;
                        color: #666;
                       
                        a {
                            display: block;
                            float: left;
                            margin-right: 6px;
                        }
                   }
                   
               }
               
           }
        }
        .register {
            @extend .commonStyle;
            .registerTit {
                @extend .titbg;
                background: url(../images/registerTit.png);
            }
            .registerfm {
                width: 455px;
                height: 559px;
                p {
                    margin-left: 50px;
                    height: 57px;
                    span {
                        display: inline-block;
                        width: 70px;
                        height: 25px;
                        line-height: 23px;
                        text-align: right;
                        font-weight: 700;
                    }
                    .tips {
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        width: 250px;
                        margin-left: 90px;
                        font-weight: 700;
                    }
                    input {
                        margin-left: 10px;
                        border: 1px solid #ccc;
                    }
                    &.yzcode {
                        input {
                            width: 98px;
                        }
                        i {
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 30px;
                        }
                        a#recode {
                            text-decoration: underline;
                            color: deepskyblue;
                            line-height: 30px;
                            margin-left: 20px;
                        }
                        em {
                            float: left;
                        }
                    }
                    &.rule {
                        margin-left: 128px;
                        height: 35px;
                        #ck {
                            width: 16px;   
                            height: 16px;
                            float: left;
                        }
                        span {
                            display: block;
                            float: left;
                            margin-top: -4px;
                            width: 232px;
                            color: #03AFEC;
                            font-size: 12px;
                        }
                    }
                    &.sub {
                        a {
                            background-image: url(../images/reg.png);
                        }
                    }
                }
            }
            
        }
    }
}
































































